Lannootree_server/nodered/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Edit me!",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eb2ee3619bac2966",
        "type": "tab",
        "label": "Frontend service demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b34b3e285b1aaded",
        "type": "tab",
        "label": "Collection",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a3120f371607926",
        "type": "tls-config",
        "name": "",
        "cert": "/app/clientcert/client.crt",
        "key": "/app/clientcert/client.key",
        "ca": "/app/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "lannootree.devbitapp.be",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "9aeebefbe8d4f9da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "8883",
        "tls": "8a3120f371607926",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0de2ac351c337b97",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "collection",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n2,\n14,\n15,\n21\n]",
        "output": "json",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "8a8455ddc47d315b",
                "8b22fc7496ee76b0"
            ]
        ]
    },
    {
        "id": "0668b5a7229ec1b2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "activate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b4ae001ca4110169",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "collection",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n3,\n6,\n9,\n12,\n10,\n1,\n13,\n27,\n20,\n1,\n4\n]",
        "output": "json",
        "x": 360,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3cc900556f453509",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "README",
        "info": "",
        "x": 100,
        "y": 180,
        "wires": []
    },
    {
        "id": "8a8455ddc47d315b",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "a68fba13aa193710"
        ],
        "x": 515,
        "y": 100,
        "wires": []
    },
    {
        "id": "8b22fc7496ee76b0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "3273155f265b27c4",
        "type": "inject",
        "z": "eb2ee3619bac2966",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Offline",
        "payloadType": "str",
        "x": 70,
        "y": 240,
        "wires": [
            [
                "8d48ec7bbe92b4bf"
            ]
        ]
    },
    {
        "id": "7741b6c4a4027afb",
        "type": "change",
        "z": "eb2ee3619bac2966",
        "name": "controller",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status/controller",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 60,
        "wires": [
            [
                "ed346f1ade0acee9"
            ]
        ]
    },
    {
        "id": "b40b3b2b8464c37f",
        "type": "change",
        "z": "eb2ee3619bac2966",
        "name": "client-api",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status/client-api",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "ed346f1ade0acee9"
            ]
        ]
    },
    {
        "id": "b05c7bbdc391c5fd",
        "type": "change",
        "z": "eb2ee3619bac2966",
        "name": "admin-api",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status/admin-api",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "ed346f1ade0acee9"
            ]
        ]
    },
    {
        "id": "774d7e6a41df349a",
        "type": "change",
        "z": "eb2ee3619bac2966",
        "name": "storage",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status/storage",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "ed346f1ade0acee9"
            ]
        ]
    },
    {
        "id": "f638aea716f7ad46",
        "type": "change",
        "z": "eb2ee3619bac2966",
        "name": "led-client",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status/led-client",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "ed346f1ade0acee9"
            ]
        ]
    },
    {
        "id": "346210592dd1dec9",
        "type": "change",
        "z": "eb2ee3619bac2966",
        "name": "led-driver",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status/led-driver",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "ed346f1ade0acee9"
            ]
        ]
    },
    {
        "id": "052ac08f1bccc061",
        "type": "change",
        "z": "eb2ee3619bac2966",
        "name": "nodered",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status/nodered",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "ed346f1ade0acee9"
            ]
        ]
    },
    {
        "id": "53db3b9260306f3e",
        "type": "change",
        "z": "eb2ee3619bac2966",
        "name": "uploader-api",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status/uploader-api",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "ed346f1ade0acee9"
            ]
        ]
    },
    {
        "id": "4d29f8439d64649b",
        "type": "mqtt out",
        "z": "eb2ee3619bac2966",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9aeebefbe8d4f9da",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "f997c94eedfa1325",
        "type": "delay",
        "z": "eb2ee3619bac2966",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 260,
        "wires": [
            [
                "4d29f8439d64649b"
            ]
        ]
    },
    {
        "id": "ed346f1ade0acee9",
        "type": "function",
        "z": "eb2ee3619bac2966",
        "name": "buffer",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 260,
        "wires": [
            [
                "f997c94eedfa1325"
            ]
        ]
    },
    {
        "id": "015dba3179c7828b",
        "type": "function",
        "z": "eb2ee3619bac2966",
        "name": "buffer",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 260,
        "wires": [
            [
                "7741b6c4a4027afb",
                "b40b3b2b8464c37f",
                "b05c7bbdc391c5fd",
                "774d7e6a41df349a",
                "f638aea716f7ad46",
                "346210592dd1dec9",
                "052ac08f1bccc061",
                "53db3b9260306f3e"
            ]
        ]
    },
    {
        "id": "8d48ec7bbe92b4bf",
        "type": "delay",
        "z": "eb2ee3619bac2966",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "015dba3179c7828b"
            ]
        ]
    },
    {
        "id": "2405b7a70ab94921",
        "type": "inject",
        "z": "eb2ee3619bac2966",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Online",
        "payloadType": "str",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "8d48ec7bbe92b4bf"
            ]
        ]
    },
    {
        "id": "e94fe7fccd6c6e8e",
        "type": "split",
        "z": "eb2ee3619bac2966",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 790,
        "y": 400,
        "wires": [
            [
                "8f0c44c7b9924584"
            ]
        ]
    },
    {
        "id": "9a8cf4a8196530c9",
        "type": "template",
        "z": "eb2ee3619bac2966",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "controller\nstorage\nmysql\nphpmyadmin",
        "output": "str",
        "x": 440,
        "y": 460,
        "wires": [
            [
                "b791cc3e206d2129"
            ]
        ]
    },
    {
        "id": "867f28669b21560f",
        "type": "inject",
        "z": "eb2ee3619bac2966",
        "name": "offline",
        "props": [
            {
                "p": "status",
                "v": "Offline",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "e35a7486661569f0"
            ]
        ]
    },
    {
        "id": "1f3686abc21cfda4",
        "type": "inject",
        "z": "eb2ee3619bac2966",
        "name": "online",
        "props": [
            {
                "p": "status",
                "v": "Online",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "e35a7486661569f0"
            ]
        ]
    },
    {
        "id": "890a9772de86c388",
        "type": "template",
        "z": "eb2ee3619bac2966",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "frontend\nadmin-api\ntraefik\nauthelia",
        "output": "str",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "e94fe7fccd6c6e8e"
            ]
        ]
    },
    {
        "id": "8f0c44c7b9924584",
        "type": "function",
        "z": "eb2ee3619bac2966",
        "name": "function 2",
        "func": "msg.topic = `status/${msg.payload}`;\nmsg.payload = msg.status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 400,
        "wires": [
            [
                "fbf37d7b40f4553e",
                "51f3cee6155b23b2"
            ]
        ]
    },
    {
        "id": "fbf37d7b40f4553e",
        "type": "debug",
        "z": "eb2ee3619bac2966",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "95d57cf23787338b",
        "type": "inject",
        "z": "eb2ee3619bac2966",
        "name": "offline",
        "props": [
            {
                "p": "status",
                "v": "Offline",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "890a9772de86c388"
            ]
        ]
    },
    {
        "id": "199551710545b7b1",
        "type": "inject",
        "z": "eb2ee3619bac2966",
        "name": "online",
        "props": [
            {
                "p": "status",
                "v": "Online",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "890a9772de86c388"
            ]
        ]
    },
    {
        "id": "f8818926fe818d5e",
        "type": "template",
        "z": "eb2ee3619bac2966",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "client-api\nled-client\nled-driver",
        "output": "str",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "b791cc3e206d2129"
            ]
        ]
    },
    {
        "id": "0b1ba466f530ce38",
        "type": "template",
        "z": "eb2ee3619bac2966",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "uploader-api\ncertificate-api\nnodered",
        "output": "str",
        "x": 440,
        "y": 540,
        "wires": [
            [
                "b791cc3e206d2129"
            ]
        ]
    },
    {
        "id": "3e0d55cfdb61f8a2",
        "type": "template",
        "z": "eb2ee3619bac2966",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "processor-redis\nffmpeg\nvoronoi\nprocessor-api",
        "output": "str",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "b791cc3e206d2129"
            ]
        ]
    },
    {
        "id": "e35a7486661569f0",
        "type": "function",
        "z": "eb2ee3619bac2966",
        "name": "buffer",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 520,
        "wires": [
            [
                "9a8cf4a8196530c9",
                "f8818926fe818d5e",
                "0b1ba466f530ce38",
                "3e0d55cfdb61f8a2"
            ]
        ]
    },
    {
        "id": "b791cc3e206d2129",
        "type": "function",
        "z": "eb2ee3619bac2966",
        "name": "buffer",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 520,
        "wires": [
            [
                "83a721a639f349e9"
            ]
        ]
    },
    {
        "id": "51f3cee6155b23b2",
        "type": "mqtt out",
        "z": "eb2ee3619bac2966",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9aeebefbe8d4f9da",
        "x": 1090,
        "y": 380,
        "wires": []
    },
    {
        "id": "83a721a639f349e9",
        "type": "delay",
        "z": "eb2ee3619bac2966",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 520,
        "wires": [
            [
                "e94fe7fccd6c6e8e"
            ]
        ]
    },
    {
        "id": "1ef6b18530739731",
        "type": "mqtt out",
        "z": "b34b3e285b1aaded",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9aeebefbe8d4f9da",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "7474c6f0242197e3",
        "type": "function",
        "z": "b34b3e285b1aaded",
        "name": "parse",
        "func": "var active_id = global.get(\"active_id\");\nvar collection = msg.payload;\nif (isNaN(active_id)) active_id = 1;\n\nmsg.payload = { \"command\": \"play_media\", \"media_id\": collection[active_id] };\nmsg.topic = \"controller/in\";\n\nactive_id ++;\nactive_id = (active_id % collection.length);\nglobal.set(\"active_id\", active_id);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 120,
        "wires": [
            [
                "1ef6b18530739731",
                "e74f54788bd3ed24",
                "e5621a3f768ef259"
            ]
        ]
    },
    {
        "id": "e5621a3f768ef259",
        "type": "function",
        "z": "b34b3e285b1aaded",
        "name": "logging",
        "func": "msg.payload = `Sending: ${JSON.stringify(msg.payload)}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "ad3fd10345ac06e5"
            ]
        ]
    },
    {
        "id": "ad3fd10345ac06e5",
        "type": "mqtt out",
        "z": "b34b3e285b1aaded",
        "name": "logs",
        "topic": "logs/nodered",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9aeebefbe8d4f9da",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "e74f54788bd3ed24",
        "type": "debug",
        "z": "b34b3e285b1aaded",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "a68fba13aa193710",
        "type": "link in",
        "z": "b34b3e285b1aaded",
        "name": "link in 1",
        "links": [
            "8a8455ddc47d315b"
        ],
        "x": 155,
        "y": 120,
        "wires": [
            [
                "7474c6f0242197e3"
            ]
        ]
    },
    {
        "id": "486e920d0f53e93b",
        "type": "function",
        "z": "b34b3e285b1aaded",
        "name": "startup",
        "func": "// look at the tab OnStartup\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"active_id\", 1);\nreturn;",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 180,
        "wires": [
            []
        ]
    }
]